[submodule "problems/java"]
	path = problems/java
	url = git@github.com:hanumakanthvvn/x-java.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:hanumakanthvvn/x-meta.git
[submodule "problems/node-js"]
	path = problems/node-js
	url = git@github.com:hanumakanthvvn/x-nodejs.git
[submodule "problems/ruby"]
	path = problems/ruby
	url = git@github.com:hanumakanthvvn/x-ruby.git
